{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DJango Board_List</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

</head>
<script type="text/javascript">
    function fn_now(){
    var dd = Date();
    var now = document.getElementsById("nowTime").innerHTML;
    now = dd;
    }
</script>
<script type="text/javascript">

    setInterval(fn_now(),1000);

</script>
<!-- 2번째 주석문
<body>
    <div class="page-header">
        <h1>장고게시판리스트화면입니다</h1>
    </div>
<!-- 첫번째 주석문 -->
 <!-- {% for post in posts %}
    <div class="post">
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}-->
<!-- 2번째 주석문
    <div class="content container">
     <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
                <div class="post">
                    <div class="date">
                        {{ post.published_date }}
                    </div>
                    <h1><a href="">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
     </div>
    </div>
</body>   -->

<body>
    <div class="page-header">
        <h1><a href="/">장고 블로그</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
                 {% for post in posts %}
                     <div class="post">
                        <div class="date">
                             {{ post.published_date }}
                        </div>
                        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                        <p>{{ post.text|linebreaksbr }}</p>
                     </div>
                  {% endfor %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>


</html>