{% load staticfiles %}

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

     <div class="loginForm" >
        <form method="post" name="" action="">
           <div class="box">
            <input type="text" class="iText" value="이메일 입력하세요.">
            <br>
            <input type="password" name="" id="" class="iText">
            <br>
            <p>
              <span class="fleft"><input type="checkbox" id=""><label for=""> 아이디 저장</label></span>
              <span class="fright"><a href="">아이디 찾기</a>&nbsp;|&nbsp;<a href="">비밀번호 찾기</a></span>
                <span><input type="button" onclick="history.back()" id="" value="뒤로가기"></span>
            </p>
          </div>
          <a href="#" id="" class="loginBtn">로그인</a>
        </form>
      </div>



